In [1]:
import pandas
import matplotlib.pyplot as plt
import sklearn as skt
from sklearn import tree

In [14]:
minas = pandas.read_pickle('enem_2016_minas.pkl')

In [15]:
minas.shape

(954219, 166)

In [16]:
redacao = minas[['NU_NOTA_REDACAO','Q001','Q002','Q003','Q004','Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012','Q013',
        'Q014','Q015','Q016','Q017','Q018','Q019','Q020','Q021','Q022','Q023','Q024','Q025','Q026','Q027','Q028',
        'Q029','Q030','Q031','Q032','Q033','Q034','Q035','Q036','Q037','Q038','Q039','Q040','Q041','Q042','Q043',
        'Q044','Q045','Q046','Q047','Q048','Q049','Q050']]

In [17]:
redacao = redacao.dropna(axis=0, how='any')

In [18]:
redacao.describe()

,NU_NOTA_REDACAO,Q005,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000,183262.000000
mean,519.525777,3.716035,3.670652,2.395690,4.370617,4.488923,3.900880,4.546169,4.668546,3.412590,4.514378,3.692839,3.359371,4.209301,3.503056
std,141.459505,1.529074,1.712447,2.225685,1.193434,1.056537,1.622881,1.086557,0.910926,1.756058,1.202806,1.758907,1.806258,1.404683,1.840711
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,440.000000,3.000000,3.000000,0.000000,4.000000,4.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,2.000000
50%,520.000000,4.000000,5.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000
75%,600.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,980.000000,20.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [19]:
redacao.mode()

,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,560.0,B,B,C,B,4.0,C,A,B,C,...,5.0,A,A,A,A,A,A,A,A,A

In [20]:
redacao.shape

(183262, 51)

In [21]:
redacao = redacao.replace(to_replace={'Q006': {'A':0, 'B':880, 'C':1320, 'D':1760, 'E':2200, 'F':2640, 'G':3520, 'H':4400, 'I':5280,
                                       'J':6160, 'K':7040, 'L':7920, 'M':8800, 'N':10560, 'O':13200, 'P':17600, 'Q':20000},
                            'Q007': {'A':0, 'B':1.5, 'C':3.5, 'D':5},
                            'Q008': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q009': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q010': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q011': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q012': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q013': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                            'Q014': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q015': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                            'Q016': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q017': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q019': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q022': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q024': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q018': {'A':0, 'B':1},'Q020': {'A':0, 'B':1},
                           'Q021': {'A':0, 'B':1}, 'Q023': {'A':0, 'B':1}, 'Q025': {'A':0, 'B':1}, 
                            'Q027': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6, 'H':7, 'I':8, 'J':9, 'K':10, 'L':11,
                                     'M':12},
                            'Q028': {'A':0, 'B':1, 'C': 2, 'D':3, 'E':4}
                                   })

In [22]:
eletrodomesticos_redacao = redacao[['Q006', 'Q007', 'Q008','Q009','Q010','Q011','Q012','Q013','Q014','Q015','Q016','Q017',
                                      'Q018','Q019','Q020','Q021','Q022','Q023', 'Q024','Q025']]

In [23]:
Y = list(eletrodomesticos_redacao['Q006'])
X = eletrodomesticos_redacao.drop(columns=['Q006']).get_values().tolist()
print(len(Y))
print(len(X))

183262
183262

In [24]:
arvore = tree.DecisionTreeRegressor()
arvore = arvore.fit(X, Y)

In [34]:
redacao.iloc[[300]]

,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
9446,540.0,B,B,B,B,1.0,1320,0.0,1,2,...,5.0,A,A,A,B,A,A,A,C,A

In [43]:
feat = arvore.feature_importances_
print('Empregada domestica: '+str(feat[0]))
print('Quantidade de banheiros: '+str(feat[1]))
print('Quantidade de quartos: '+str(feat[2]))
print('Quantidade de carros: '+str(feat[3]))
print('Quantidade de motos: '+str(feat[4]))
print('Quantidade de geladeiras: '+str(feat[5]))
print('Quantidade de freezer: '+str(feat[6]))
print('Quantidade de maquina de lavar roupa: '+str(feat[7]))
print('Quantidade de maquina de secar roupa: '+str(feat[8]))
print('Quantidade de micro-ondas: '+str(feat[9]))
print('Quantidade de maquina de lavar louça: '+str(feat[10]))
print('Aspirador de po: '+str(feat[11]))
print('Quantidade de televisões:'+str(feat[12]))
print('DVD: '+str(feat[13]))
print('TV por assinatura: '+str(feat[14]))
print('Quantidade de celulares: '+str(feat[15]))
print('Telefone fixo: '+str(feat[16]))
print('Quantidade de computadores: '+str(feat[17]))
print('Acesso a internet: '+str(feat[18]))

Empregada domestica: 0.08127881305449482
Quantidade de banheiros: 0.19980997306797008
Quantidade de quartos: 0.04839138930408094
Quantidade de carros: 0.12706718667795422
Quantidade de motos: 0.042777016148709594
Quantidade de geladeiras: 0.021592599716679595
Quantidade de freezer: 0.04279966273183066
Quantidade de maquina de lavar roupa: 0.022841097323272976
Quantidade de maquina de secar roupa: 0.0294633347487815
Quantidade de micro-ondas: 0.02685651708549152
Quantidade de maquina de lavar louça: 0.014452261807440105
Aspirador de po: 0.021642526385450674
Quantidade de televisões:0.06675740898266978
DVD: 0.033047708852393595
TV por assinatura: 0.028141941744962547
Quantidade de celulares: 0.06617533217536484
Telefone fixo: 0.024996952350959133
Quantidade de computadores: 0.09157161276380645
Acesso a internet: 0.010336665077686952

In [2]:
goias = pandas.read_pickle('enem_2016_goias.pkl')

In [3]:
goias.describe()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,2.869800e+05,286980.0,2.869800e+05,286980.0,286978.000000,276205.000000,286980.000000,286980.000000,2.731770e+05,273177.000000,...,172653.000000,172650.000000,286978.000000,286978.000000,286978.000000,286978.000000,286978.000000,286978.000000,286978.000000,92296.000000
mean,1.600042e+11,2016.0,5.209610e+06,52.0,22.071866,0.159378,2.270639,1.053310,4.622891e+06,46.132639,...,4.452103,3.881558,4.608994,4.663884,3.191795,4.467252,3.752472,3.390783,4.355282,3.575225
std,2.494457e+06,0.0,6.285287e+03,0.0,7.290705,0.424726,1.022990,0.261667,1.199201e+06,12.003650,...,1.112764,1.668987,0.999495,0.921604,1.789931,1.229387,1.716016,1.780557,1.281180,1.808815
min,1.600000e+11,2016.0,5.200050e+06,52.0,11.000000,0.000000,0.000000,0.000000,1.100015e+06,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.600021e+11,2016.0,5.205109e+06,52.0,17.000000,0.000000,1.000000,1.000000,5.201108e+06,52.000000,...,4.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,2.000000
50%,1.600042e+11,2016.0,5.208707e+06,52.0,19.000000,0.000000,3.000000,1.000000,5.208707e+06,52.000000,...,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000
75%,1.600064e+11,2016.0,5.213004e+06,52.0,24.000000,0.000000,3.000000,1.000000,5.212501e+06,52.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,1.600086e+11,2016.0,5.222302e+06,52.0,79.000000,3.000000,6.000000,4.000000,5.300108e+06,53.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [4]:
redacao_goias = goias[['NU_NOTA_REDACAO','Q001','Q002','Q003','Q004','Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012','Q013',
        'Q014','Q015','Q016','Q017','Q018','Q019','Q020','Q021','Q022','Q023','Q024','Q025','Q026','Q027','Q028',
        'Q029','Q030','Q031','Q032','Q033','Q034','Q035','Q036','Q037','Q038','Q039','Q040','Q041','Q042','Q043',
        'Q044','Q045','Q046','Q047','Q048','Q049','Q050']]

In [5]:
redacao_goias = redacao_goias.dropna(axis=0, how='any')

In [6]:
redacao_goias.describe()

,NU_NOTA_REDACAO,Q005,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000,54246.00000,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000,54246.000000
mean,495.639420,3.683645,3.606699,2.372912,4.291321,4.45773,3.891347,4.603031,4.695756,3.335877,4.581278,3.758157,3.296391,4.237971,3.465509
std,142.694688,1.527564,1.743692,2.228414,1.274069,1.09819,1.635623,1.021870,0.878841,1.764660,1.098882,1.715556,1.807944,1.368752,1.848153
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,420.000000,3.000000,3.000000,0.000000,4.000000,4.00000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,2.000000
50%,500.000000,4.000000,5.000000,2.000000,5.000000,5.00000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000
75%,580.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,980.000000,20.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
redacao_goias.shape

(54246, 51)

In [8]:
redacao_goias = redacao_goias.replace(to_replace={'Q006': {'A':0, 'B':880, 'C':1320, 'D':1760, 'E':2200, 'F':2640, 'G':3520, 'H':4400, 'I':5280,
                                       'J':6160, 'K':7040, 'L':7920, 'M':8800, 'N':10560, 'O':13200, 'P':17600, 'Q':20000},
                            'Q007': {'A':0, 'B':1.5, 'C':3.5, 'D':5},
                            'Q008': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q009': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q010': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q011': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q012': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q013': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                            'Q014': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q015': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                            'Q016': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q017': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q019': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q022': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4},
                           'Q024': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4}, 'Q018': {'A':0, 'B':1},'Q020': {'A':0, 'B':1},
                           'Q021': {'A':0, 'B':1}, 'Q023': {'A':0, 'B':1}, 'Q025': {'A':0, 'B':1}, 
                            'Q027': {'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6, 'H':7, 'I':8, 'J':9, 'K':10, 'L':11,
                                     'M':12},
                            'Q028': {'A':0, 'B':1, 'C': 2, 'D':3, 'E':4}
                                   })

In [9]:
eletrodomesticos_goias = redacao_goias[['Q006', 'Q007', 'Q008','Q009','Q010','Q011','Q012','Q013','Q014','Q015','Q016','Q017',
                                      'Q018','Q019','Q020','Q021','Q022','Q023', 'Q024','Q025']]

In [12]:
Y_goias = list(eletrodomesticos_goias['Q006'])
X_goias = eletrodomesticos_goias.drop(columns=['Q006']).get_values().tolist()

In [25]:
Y_goias_pred = arvore.predict(X_goias)

In [26]:
from sklearn.metrics import r2_score
r2_score(Y_goias, Y_goias_pred)

-0.0699059224070604

In [28]:
arvore_goias = tree.DecisionTreeRegressor()
arvore_goias = arvore_goias.fit(X_goias, Y_goias)

In [29]:
feat = arvore_goias.feature_importances_
print('Empregada domestica: '+str(feat[0]))
print('Quantidade de banheiros: '+str(feat[1]))
print('Quantidade de quartos: '+str(feat[2]))
print('Quantidade de carros: '+str(feat[3]))
print('Quantidade de motos: '+str(feat[4]))
print('Quantidade de geladeiras: '+str(feat[5]))
print('Quantidade de freezer: '+str(feat[6]))
print('Quantidade de maquina de lavar roupa: '+str(feat[7]))
print('Quantidade de maquina de secar roupa: '+str(feat[8]))
print('Quantidade de micro-ondas: '+str(feat[9]))
print('Quantidade de maquina de lavar louça: '+str(feat[10]))
print('Aspirador de po: '+str(feat[11]))
print('Quantidade de televisões:'+str(feat[12]))
print('DVD: '+str(feat[13]))
print('TV por assinatura: '+str(feat[14]))
print('Quantidade de celulares: '+str(feat[15]))
print('Telefone fixo: '+str(feat[16]))
print('Quantidade de computadores: '+str(feat[17]))
print('Acesso a internet: '+str(feat[18]))

Empregada domestica: 0.09453152341205616
Quantidade de banheiros: 0.08337814842356955
Quantidade de quartos: 0.0469032211013005
Quantidade de carros: 0.2537577502632329
Quantidade de motos: 0.04386125512282067
Quantidade de geladeiras: 0.020636285298121247
Quantidade de freezer: 0.0406391750263274
Quantidade de maquina de lavar roupa: 0.024236877579724116
Quantidade de maquina de secar roupa: 0.027159778545385392
Quantidade de micro-ondas: 0.028627456442484035
Quantidade de maquina de lavar louça: 0.012001156277803883
Aspirador de po: 0.023771403608126934
Quantidade de televisões:0.055129370134883414
DVD: 0.029903391844493456
TV por assinatura: 0.03401464099283016
Quantidade de celulares: 0.06436592164115525
Telefone fixo: 0.030700356912964105
Quantidade de computadores: 0.0741990819813725
Acesso a internet: 0.012183205391348081